html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.5em;
  text-align: center;
  border: 5px;
}

*, *::before, *::after {
  box-sizing: inherit;

}

img {
  width: 100%;
  max-width: 25em;
  display: block;
  border: 5px;
  text-align: left;
}

div {
  max-width: 25em;
  padding: 0;
  display: inline-block;
  margin: 1.5em;
  vertical-align: middle;

}

h2 {
  text-align: left;
}

p {
  line-height: 1.5;
  text-align: left;
  display: inline-block;

}

a {
  margin: 2em;
  background-color: #f2f2f2;
  padding: 1em;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  color: #333;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

ul {
  border: 10px #666;
  display: inline-block;
  margin: 1.5rem;
  border-radius: 4px;
  text-decoration: none;
}

.btn {
  text-align: left;
}
